[user]
	name = flespark
	email = 0860734llx@gmail.com
[credential]
	helper = store
[color]
	ui = auto
[merge]
	ff = only
[push]
	default = simple
[alias]
	root = rev-parse --show-toplevel
	co = checkout
	br = branch
	ci = commit
	ca = commit --amend
	df = diff
	dc = diff --cached
	st = status
	ra = reset HEAD --
	rh = reset --hard
	fp = format-patch
	lg = log --name-status
	cp = cherry-pick
	af = am --reject --whitespace=fix
[core]
	editor = vim
[init]
	templatedir = ~/.git-templates
