[user]
	name = flespark
	email = 0860734llx@gmail.com
[credential]
	helper = store
[color]
	ui = auto
[log]
	decorate = auto
[merge]
	ff = only
        tool = vimdiff
        conflictstyle = diff3
        defaultToUpstream = true
[mergetool]
        prompt = false
[push]
	default = simple
[alias]
	rt = rev-parse --show-toplevel
	ad = add -u
	co = checkout
	br = branch
	ci = commit
	ca = commit --amend
	df = diff
	dc = diff --cached
	st = status
	ra = reset HEAD --
	rh = reset --hard
	fp = format-patch
	mg = merge
	rv = revert
	lg = log --name-status
	cp = cherry-pick
	af = am --reject --whitespace=fix
	mt = mergetool
[core]
	editor = vim
[init]
	templatedir = ~/.git-templates
[core]
        editor = vim
[http]
	proxy = http://localhost:1809
