[user]
	name = flespark
	email = 0860734llx@gmail.com
[credential]
	helper = store
[color]
	ui = auto
[log]
	decorate = auto
[core]
	quotepath = false
	editor = vim
# convert line ending in windows but not linux
	autocrlf = false
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore
	symlinks = true
	pager = delta
[delta]
    # basic display
    navigate = true  # n/N for nagivate
    light = true
    line-numbers = true
    side-by-side = true

    # syntex highlight
    syntax-theme = Github
    plus-style = "syntax #003800"  # newline style
    minus-style = "syntax #3f0001"  # removed line style

    # file compare
    file-style = bold yellow ul  # file name style
    file-decoration-style = none  # file decorate stype
    hunk-header-style = file line-number syntax  # block header style

    # others
    zero-style = dim syntax  # unchanged line
    whitespace-error-style = 22 reverse  # while space indicate
[merge]
	ff = only
	tool = kdiff3
	conflictstyle = diff3
	defaultToUpstream = true
[mergetool "kdiff3"]
	trustExitCode = false
	prompt = false
[diff]
	guitool = kdiff3
	tool = delta
[difftool]
    prompt = false
[push]
	default = simple
[alias]
	a = add
	aa = add -A
	ac = add .
	ad = add -u
	af = am --reject --whitespace=fix
	br = branch
	bv = branch -vv
    c = clone
	cl = config -l
	cm = commit
	cma = commit --amend
	cmm = commit -m
	co = checkout
	ch = checkout --
	cp = cherry-pick
	dc = diff --cached
    dcn = diff --name-status --cached
	df = diff
	fp = format-patch
	ft = fetch
	gp = log --graph --date=short --format=\"%C(yellow)%h%C(reset) %C(magenta)%cd %C(auto)%d%C(reset) %s  %C(cyan)@%an%C(reset)\"
	gr = log --decorate --graph --oneline --all
	lg = log --graph --oneline --decorate --all
	ls = log --decorate --name-status
	mg = merge
	mt = mergetool
	pl = pull
	ps = push
	rh = reset HEAD
	rs = reset --hard
	rt = rev-parse --show-toplevel
	rv = remote -v
	rso = remote set-url origin
	s = status -s
	sh = show
	sl = show HEAD
	st = status
	ss = stash
	sl = stash list
	sa = stash apply
	us = reset HEAD --
[init]
	defaultBranch = main
# [url "https://hub.fgit.ml/"]
# or by "https://cdn.jsdelivr.net/gh"
#	insteadOf = https://github.com/
[protocol "http"]
	allow = always
[credential "helperselector"]
	selected = store
[gui]
	encoding = utf-8
[i18n "commit"]
	encoding = utf-8
[i18n]
	logoutputencoding = utf-8
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
# ssh proxy, according to you proxy setting
[socks]
	proxy = socks://127.0.0.1:1088
# ssh proxy, according to you proxy setting
[http]
	proxy = http://127.0.0.1:8889
[interactive]
	diffFilter = delta --color-only
